In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/house-prices-advanced-regression-techniques/train.csv
/kaggle/input/house-prices-advanced-regression-techniques/test.csv
/kaggle/input/house-prices-advanced-regression-techniques/sample_submission.csv
/kaggle/input/house-prices-advanced-regression-techniques/data_description.txt

In [2]:
import pandas as pd
import pandas_profiling 
melbourne_test = pd.read_csv("../input/house-prices-advanced-regression-techniques/test.csv")
melbourne_data = pd.read_csv("../input/house-prices-advanced-regression-techniques/train.csv")

In [3]:

melbourne_data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [4]:
 #melbourne_data.profile_report()

In [5]:
#melbourne_data = melbourne_data.dropna()

In [6]:
y=melbourne_data.SalePrice
from sklearn.ensemble import RandomForestClassifier
y.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [7]:
melbourne_features = ['LotArea', 'LotFrontage', 'HouseStyle', 'BldgType', 'OverallQual', 'OverallCond','GrLivArea','GarageArea','YearBuilt','TotalBsmtSF']

In [8]:
melbourne_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [9]:
X = melbourne_data[melbourne_features]
X_test= melbourne_test[melbourne_features]
X.head()

,LotArea,LotFrontage,HouseStyle,BldgType,OverallQual,OverallCond,GrLivArea,GarageArea,YearBuilt,TotalBsmtSF
0,8450,65.0,2Story,1Fam,7,5,1710,548,2003,856
1,9600,80.0,1Story,1Fam,6,8,1262,460,1976,1262
2,11250,68.0,2Story,1Fam,7,5,1786,608,2001,920
3,9550,60.0,2Story,1Fam,7,5,1717,642,1915,756
4,14260,84.0,2Story,1Fam,8,5,2198,836,2000,1145

In [10]:

features = [ "HouseStyle", "BldgType"]
X = pd.get_dummies(X)
X_test = pd.get_dummies(X_test)

In [11]:
X.head()

,LotArea,LotFrontage,OverallQual,OverallCond,GrLivArea,GarageArea,YearBuilt,TotalBsmtSF,HouseStyle_1.5Fin,HouseStyle_1.5Unf,...,HouseStyle_2.5Fin,HouseStyle_2.5Unf,HouseStyle_2Story,HouseStyle_SFoyer,HouseStyle_SLvl,BldgType_1Fam,BldgType_2fmCon,BldgType_Duplex,BldgType_Twnhs,BldgType_TwnhsE
0,8450,65.0,7,5,1710,548,2003,856,0,0,...,0,0,1,0,0,1,0,0,0,0
1,9600,80.0,6,8,1262,460,1976,1262,0,0,...,0,0,0,0,0,1,0,0,0,0
2,11250,68.0,7,5,1786,608,2001,920,0,0,...,0,0,1,0,0,1,0,0,0,0
3,9550,60.0,7,5,1717,642,1915,756,0,0,...,0,0,1,0,0,1,0,0,0,0
4,14260,84.0,8,5,2198,836,2000,1145,0,0,...,0,0,1,0,0,1,0,0,0,0

In [12]:
print(X_test)

      LotArea  LotFrontage  OverallQual  OverallCond  GrLivArea  GarageArea  \
0       11622         80.0            5            6        896       730.0
1       14267         81.0            6            6       1329       312.0
2       13830         74.0            5            5       1629       482.0
3        9978         78.0            6            6       1604       470.0
4        5005         43.0            8            5       1280       506.0
...       ...          ...          ...          ...        ...         ...
1454     1936         21.0            4            7       1092         0.0
1455     1894         21.0            4            5       1092       286.0
1456    20000        160.0            5            7       1224       576.0
1457    10441         62.0            5            5        970         0.0
1458     9627         74.0            7            5       2000       650.0

      YearBuilt  TotalBsmtSF  HouseStyle_1.5Fin  HouseStyle_1.5Unf  \
0          1961        882.0                  0                  0
1          1958       1329.0                  0                  0
2          1997        928.0                  0                  0
3          1998        926.0                  0                  0
4          1992       1280.0                  0                  0
...         ...          ...                ...                ...
1454       1970        546.0                  0                  0
1455       1970        546.0                  0                  0
1456       1960       1224.0                  0                  0
1457       1992        912.0                  0                  0
1458       1993        996.0                  0                  0

      HouseStyle_1Story  HouseStyle_2.5Unf  HouseStyle_2Story  \
0                     1                  0                  0
1                     1                  0                  0
2                     0                  0                  1
3                     0                  0                  1
4                     1                  0                  0
...                 ...                ...                ...
1454                  0                  0                  1
1455                  0                  0                  1
1456                  1                  0                  0
1457                  0                  0                  0
1458                  0                  0                  1

      HouseStyle_SFoyer  HouseStyle_SLvl  BldgType_1Fam  BldgType_2fmCon  \
0                     0                0              1                0
1                     0                0              1                0
2                     0                0              1                0
3                     0                0              1                0
4                     0                0              0                0
...                 ...              ...            ...              ...
1454                  0                0              0                0
1455                  0                0              0                0
1456                  0                0              1                0
1457                  1                0              1                0
1458                  0                0              1                0

      BldgType_Duplex  BldgType_Twnhs  BldgType_TwnhsE
0                   0               0                0
1                   0               0                0
2                   0               0                0
3                   0               0                0
4                   0               0                1
...               ...             ...              ...
1454                0               1                0
1455                0               0                1
1456                0               0                0
1457                0               0                0
1458                0               0                0

[1459 rows x 20 columns]

In [13]:
#HouseStyle_2.5Fin

In [14]:
Fin=[]
for val in range(0,len(X_test)):
    Fin.append(0)
print(len(Fin))
print(len(X_test))
X_test['HouseStyle_2.5Fin']=Fin

1459
1459

In [15]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.impute import SimpleImputer
from sklearn.metrics import mean_absolute_error
my_imputer = SimpleImputer()
X = my_imputer.fit_transform(X)
X_test = my_imputer.fit_transform(X_test)

# Define model. Specify a number for random_state to ensure same results each run
melbourne_model = RandomForestRegressor(random_state=1,n_estimators=1000)

# Fit model
melbourne_model.fit(X, y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=1, verbose=0, warm_start=False)

In [16]:
predictions = melbourne_model.predict(X_test)

In [17]:
output = pd.DataFrame({'Id': melbourne_test.Id, 'SalePrice': predictions})
output.to_csv('my_submission.csv', index=False)
print("Done")

Done